<h3>Idea Box</h3>

<div class="row">
  <div class="medium-3 columns">
    <%= form_for(:idea, url: api_v1_ideas_path) do |f| %>
      <%= f.email_field :title %>
      <%= f.password_field :body %>

      <ul class="button-group round even-3">
        <li><a href="#" class="button tiny">Swill</a></li>
        <li><a href="#" class="button tiny">Plausible</a></li>
        <li><a href="#" class="button tiny">Genius</a></li>
      </ul>

      <%= f.submit "Save" %>
    <% end %>
  </div>
</div>

<div class="row">
  <div class="medium-9 columns">
   <h4>Ideas</h4>
   <% @ideas.each do |idea| %>
     <ul class="accordion" data-accordion>
        <li class="accordion-navigation">
          <a href="#idea<%= idea.id %>"><%= idea.title %></a>
            <div id="idea<%= idea.id %>" class="content">
              <%= idea.body %>
            </div>
        </li>
     </ul>
   <% end %>
  </div>
</div>
